@model List<Database.Entity.PRODUCT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section css
{
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/vendors/themify-icons.css">
}

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Product List
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Resources</li>
                        <li class="breadcrumb-item active">Product List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row products-admin ratio_asos">
            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-sm-6">
                    <div class="card">
                        <div class="card-body product-box">
                            <div class="img-wrapper">
                                <div class="front">
                                    <a href="#"><img src="~/Content/Image/@Url.Content(item.PRODUCTIMAGE)" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                    <div class="product-hover">
                                        <ul>
                                            <li>
                                                <button class="btn" type="button" onclick="location.href='@Url.Action("Edit","Product", new { id = item.PRODUCTID })'"><i class="ti-pencil-alt"></i></button>
                                            </li>
                                        </ul>
                                        <ul>
                                            @using (Html.BeginForm("Delete", "Product", new { id = item.PRODUCTID }, FormMethod.Post))
                                            {
                                                <li>
                                                    <button class="btn" type="submit" onclick="return confirm('Bạn có muốn xóa sản phẩm này không?')"><i class="ti-trash"></i></button>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detail">
                                <a href="@Url.Action("Edit","Product", new { id = item.PRODUCTID })">@item.PRODUCTNAME</a>
                                <h4>@(item.PRODUCTPRICE.ToString("N0"))đ</h4>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section script
{

    <script src="~/Content/assets/js/jsgrid/jsgrid-manage-product.js"></script>
}
