@model List<Database.Entity.Order>

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!-- invoice start -->
<section class="theme-invoice-2 section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 m-auto">
                <div class="invoice-wrapper">
                    <div class="invoice-header">
                        <div class="top-bar">
                            <div class="left">
                                <h2>pixelstrap</h2>
                                <h4 class="text-theme">202-555-0258</h4>
                            </div>
                            <div class="right">
                                <h4 class="mb-2">
                                    Multikart Demo Store india - 363512
                                </h4>
                                <h4 class="mb-0">support@multikart.com</h4>
                            </div>
                        </div>
                        <img src="~/Content/assets/images/invoice/bg.jpg" class="img-fluid background-img w-100" alt="background">
                    </div>
                    <div class="invoice-body">
                        <ul class="date-detail">
                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <li class="mb-md-0 mb-2">
                                        <h2>hóa đơn</h2>
                                        <div class="mt-md-3 mt-2">
                                            <h4 class="mb-2">
                                                @item.ShipAddress
                                            </h4>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="text-theme">Ngày xuất hóa đơn:</span>
                                        <h4>@item.CreatedDate</h4>
                                    </li>
                                    <li>
                                        <span class="text-theme">Mã hóa đơn:</span>
                                        <h4>@item.Id</h4>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="alert alert-danger">Không có thông tin đặt hàng</li>
                            }
                        </ul>
                        <div class="table-responsive-md">
                           @{ Html.RenderAction("OrderPartialInvoice", "Cart");}
                        </div>
                    </div>
                    <div class="invoice-footer pt-0">
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="btn black-btn btn-solid rounded-2" onclick="window.print();">Xuất hóa đơn PDF</a>
                            </div>
                            <div class="col-6 text-end">
                                <a href="#" class="btn btn-solid rounded-2" onclick="window.print();">In hóa đơn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- invoice end -->
