@model List<Database.Entity.Menu>

<nav class="text-start">
    <!-- Sample menu definition -->
    <ul id="main-menu" class="sm pixelstrap sm-horizontal">
        <li>
            <div class="mobile-back text-end">
                Back<i class="fa fa-angle-right ps-2"
                       aria-hidden="true"></i>
            </div>
        </li>
        @foreach (var item in Model)
        {
            <li>
                <a href="@item.MenuLink">@item.MenuName</a>
            </li>
        }
    </ul>
</nav>